body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ff9ecb,#ffc0cb);
color:white;
text-align:center;
overflow-x:hidden;
}

/* Glass UI */

.glass{
width:85%;
margin:auto;
margin-top:60px;
padding:30px;

background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);

border-radius:20px;
box-shadow:0 0 30px rgba(255,255,255,0.3);
}

#page2{
display:none;
}

h1{
font-size:40px;
}

/* Photo */

.photo-slot img{
width:220px;
height:220px;
object-fit:cover;
border-radius:20px;
box-shadow:0 0 20px white;
}

/* Gift */

.gift-box{
font-size:80px;
cursor:pointer;
margin-top:20px;
animation:shake 2s infinite;
}

@keyframes shake{
0%{transform:rotate(0deg);}
25%{transform:rotate(5deg);}
50%{transform:rotate(-5deg);}
75%{transform:rotate(5deg);}
100%{transform:rotate(0deg);}
}

/* Buttons */

button{
margin-top:15px;
padding:10px 20px;
font-size:16px;
border:none;
border-radius:25px;
background:white;
color:#ff4fa3;
cursor:pointer;
}

/* Gallery */

.gallery img{
width:150px;
height:150px;
margin:10px;
border-radius:15px;
object-fit:cover;
}

/* Hearts */

.heart{
position:fixed;
font-size:20px;
animation:float 6s linear infinite;
}

@keyframes float{
from{transform:translateY(100vh);}
to{transform:translateY(-10vh);}
}

/* Confetti */

.confetti{
position:fixed;
width:8px;
height:8px;
animation:fall 3s linear forwards;
}

@keyframes fall{
from{transform:translateY(-10vh);}
to{transform:translateY(100vh);}
}

/* Stars */

.star{
position:fixed;
width:3px;
height:3px;
background:white;
border-radius:50%;
animation:twinkle 2s infinite alternate;
}

@keyframes twinkle{
from{opacity:0.3}
to{opacity:1}
}

/* Cake */

.cake-container{
display:flex;
justify-content:center;
margin-top:30px;
}

.cake{
position:relative;
width:180px;
height:180px;
}

.plate{
width:200px;
height:20px;
background:#eee;
position:absolute;
bottom:0;
left:-10px;
border-radius:50%;
}

.layer{
position:absolute;
width:180px;
height:40px;
background:#ff77b4;
border-radius:10px;
}

.layer-bottom{bottom:20px;}
.layer-middle{bottom:60px;}
.layer-top{bottom:100px;}

.icing{
position:absolute;
bottom:100px;
width:180px;
height:20px;
background:white;
border-radius:10px;
}

.drip{
position:absolute;
width:20px;
height:30px;
background:white;
border-radius:10px;
}

.drip1{left:40px;bottom:80px;}
.drip2{left:80px;bottom:80px;}
.drip3{left:120px;bottom:80px;}

.candle{
position:absolute;
width:10px;
height:35px;
background:gold;
bottom:120px;
left:85px;
}

.flame{
width:12px;
height:18px;
background:orange;
border-radius:50%;
position:absolute;
top:-18px;
animation:flicker 0.2s infinite alternate;
}

@keyframes flicker{
from{transform:scale(1)}
to{transform:scale(1.2)}
}

/* Mobile */

@media(max-width:768px){

h1{font-size:28px}

.photo-slot img{
width:180px;
height:180px;
}

.gallery img{
width:120px;
height:120px;
}

}